

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="partidos.component.css" rel="stylesheet" />
</head>



<div class="container">

  <div class="header">
    <h1>Partidos</h1>
  <!-- 
    <div class="filter">
      <select name="filter" id="filter" [(ngModel)]="filter" (change)="filterMatches()">
        <option value="TODOS">Todos</option>
        <option value="EN_JUEGO">En Juego</option>
        <option value="FINALIZADO">Finalizado</option>
        <option value="PROXIMO">Próximo</option>
    </select>
    </div> -->
    <div class="fecha">
      <input type="date" [(ngModel)]="dateFrom" placeholder="Fecha desde" />
      <input type="date" [(ngModel)]="dateTo" placeholder="Fecha hasta" />
      <button (click)="partidosPorFechas()">Filtrar</button>
    </div>
  <div *ngIf="matches.matches.length > 0">

    <h1>Partidos desde :{{matches.filters.dateFrom}} hasta {{matches.filters.dateTo}} </h1>
    <div *ngFor="let match of matches.matches; let srNo  = index">


      <!-- code here -->
      <div class="match">
        <div class="match-header">
          <div class="match-tournament"><img src="{{match?.competition?.emblem}}" />{{match?.competition?.name}}</div>
        </div>

        <div class="match-content">
          <div class="column">
            <div class="team team--home">
              <div class="team-logo" routerLink="/Equipo/{{match?.homeTeam?.id}}" style="cursor: pointer;">
                <img src="{{match?.homeTeam?.crest}}" />
                
              </div>
              <h2 class="team-name"  routerLink="/Equipo/{{match?.homeTeam?.id}}" style="cursor: pointer;">{{match?.homeTeam?.name}}</h2>
            </div>
          </div>
          <div class="column">
            <div class="match-details">
              <div class="match-date">
                12 Aug at <strong>19:00</strong>
              </div>

              <div class="match-score" *ngIf="match?.status != 'TIMED'" >
                <span class="match-score-number match-score-number--leading">{{match?.score?.fullTime?.home}}</span>
                <span class="match-score-divider">:</span>
                <span class="match-score-number">{{match?.score?.fullTime?.away}}</span>
              </div>

              <div class="match-score"*ngIf="match?.status === 'TIMED'">
                <span class="match-score-number match-score-number--leading">0</span>
                <span class="match-score-divider">:</span>
                <span class="match-score-number">0</span>
              </div>
            
          </div>
          </div>
          <div class="column">
            <div class="team team--away">
              <div class="team-logo" routerLink="/Equipo/{{match?.awayTeam?.id}}" style="cursor: pointer;" >
                <img src="{{match?.awayTeam?.crest}}" />
              </div>
              <h2 class="team-name" routerLink="/Equipo/{{match?.awayTeam?.id}}" style="cursor: pointer;">{{match?.awayTeam?.name}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="matches.matches.length == 0">
    <h1>No hay peridos disponible para esta fecha Partidos</h1>
  </div>

</div>



</div>
